// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------- LEFT PART ------------------------
// -------------------------------------------------- SOCIAL NETWORK ------------------------
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
.navbar-header {
  ul{
    padding: 0;
    vertical-align: middle;
    li{
      display: inline-block;
      padding: $basePadd + px;
      a{
        color: $colorW;
        &:hover{
          color: $colorPink;
        }
      }
    }
  }
}


// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------ RIGHT PART ------------------------
// --------------------------------------------------- NAVBAR BUTTON ------------------------
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
