@import '_mixins';
@import '_var';
@import '_responsiv.scss';

body{
  min-height: 100vh;
  background-color: $colorW;
  padding:{
    top:$basePadd + vh;
    left:$basePadd + vw;
    right:$basePadd + vw;
  }
}

@import '_nav';

// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
// ---------------------------------------------- BACKGROUND SECTION PART -------------------
// ---------------------------------------------- AND CONTAINER -----------------------------
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
.container{
  width: 100vw - ($basePadd *2);
  height: 100vh - ($basePadd *2);
  padding: ($basePadd * 3) + px;
}

.home{
  background:{
    image: url('../../img/backgroundHome.png');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}

// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
// ---------------------------------------------------------- ITEM --------------------------
// ------------------------------------------------ BUTTON & TITLE --------------------------
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
.btn{
  background: $colorW;
  color: $colorPink;
  font:{
    family: 'Oswald', sans-serif;
  }
  text:{
    transform: uppercase;
  }
}
