@import '_mixins';
@import '_var';
@import '_responsiv.scss';
@import '_nav';

body{
  min-height: 100vh;
  background-color: $colorTri;
  padding:{
    top:$basePadd + vh;
    left:$basePadd + vw;
    right:$basePadd + vw;
  }
}

.container{
  width: 100vw - ($basePadd *2);
  height: 100vh - ($basePadd *2);
  color: $colorTri;
  padding:{
    top:$basePadd + vh;
    bottom:$basePadd + vh;
    left:$basePadd - 2 + vw;
    right:$basePadd - 2 + vw;
  }
}

// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
// ---------------------------------------------------- SOCIAL NETWORK ----------------------
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------

.socialNetwork{
  a{
    padding: 10px;
    color: $colorTri;
    &:hover{
      color: $colorSec;
      transition: all 0.5s;
    }
  }
}


// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
// ---------------------------------------------- BACKGROUND SECTION PART -------------------
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
.home{
  background:{
    image: url('../../img/backgroundHome.png');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}
